@font-face {
  font-family: modeseven;
  src: url(modeseven.ttf);
}

html,
body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 900 !important;
  color: white;
  background-color: #4c4981;
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 15px;
}

#logo {
  flex: 1;
  justify-items: start;
}

#logo > svg {
  height: 50px;
}

footer {
  font-family: modeseven;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 50vw;
}

.social-links {
  flex: 1;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.social-link > a {
  text-decoration: none;
  color: white;
}

@media (min-width: 1025px) {
  .is-mobile {
    display: none;
  }

  nav {
    flex: 2;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .nav-link::after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 3px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid white; /* This creates the border. Replace black with whatever color you want. */
  }

  #coding-svg > svg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35vh;
    width: auto;
  }

  #page-title {
    font-size: 50px;
  }

  #page-title {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
  }

  #title {
    font-size: 50px;
    margin-bottom: 0;
  }

  .v-sliding-text {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .is-desktop {
    display: none;
  }

  header {
    background-color: #403e68;
    width: 100vw;
    box-sizing: border-box;
  }

  #logo > svg {
    height: 40px;
  }

  nav {
    display: none;
  }

  main {
    min-height: 80vh;
    display: block;
  }

  #title {
    text-align: center;
  }

  #word-slider {
    height: 40px;
  }

  .v-sliding-container {
    width: 100vw;
  }

  /* CENTERING */
  .v-sliding-text {
    height: 30px;
    width: 250px;
    text-align: center;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
  }

  #mobile-links {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }

  .nav-link {
    text-align: center;
    padding: 10px;
  }

  .nav-link::after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 3px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid white; /* This creates the border. Replace black with whatever color you want. */
  }

  #coding-svg {
    height: 35vh;
    width: 100vw;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  #coding-svg > svg {
    position: absolute;
    width: 100vw;
    height: 35vh;
  }

  footer {
    width: 100vw !important;
    background-color: #403e68;
    height: 48px;
    position: relative;
  }
  footer > ul {
    padding: 0;
  }
}
